@model PetShop.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<div>
    <form method="post" asp-action="Register">
        <div>
            <label asp-for="UserName">UserName</label>
            <input asp-for="UserName" />
        </div>
        <div>
            <label asp-for="Password">Password</label>
            <input asp-for="Password" />
        </div>
        <input type="submit" value="Login" />
    </form>
</div>
